.google_earth_flexcontainer{
    width: 100%;
    height: 60vh;
    background: red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.earth_location_image{
    width: 75%;
    height: 100%;
    background: black;
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}