.container{
    width: 100%;
    height: 65vh;
    background: black;
    align-items: center;
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.image_container{
    width: 100%;
    height: 100vh;
    background-color: bisque;
    background-image: url('../Assets/Header_background.png');
}
