@import '../../styles.scss';


.home{
    margin-top: 34.5px;
    margin-left: 72px;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    color: $white;
    float: left;
}

.destinations{
    margin-top: 34.5px;
    margin-left: 72px;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    font-family: Inter;
    float: left;
}